# Server
NODE_ENV=development
PORT=3333

# Database (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/vehicle_db?sslmode=disable

# Auth
JWT_SECRET=sua_chave_secreta_super_segura_aqui
JWT_EXPIRES_IN=1d